/* You can add global styles to this file, and also import other style files */
.form-rounded {
  border-radius: 4px;
}

.search-area {
  margin-top: 15px;
  padding: 5px 0px 5px 0px;
  width: 100%;
}

.search-box {
  width: 100%;
}

.search-results {
  padding: 5px 0px 0px 0px;
  border: thin solid black;
  width: 100%
}

.search-results img {
  max-width: 150px;
}

.header-row, .data-row {
  display: flex;
  flex-wrap: wrap;
  border-bottom: thin solid;
  border-bottom-color: lightgray;
  padding: 5px;
}

.header-row div {
  font-weight: bold;
}

.name {
  flex: 0 0 30%;
  word-wrap: break-word;
}

.age {
  flex: 0 0 7%;
}

.address {
  flex: 0 0 33%;
}

.interest {
  flex: 0 0 30%;
}

.image {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
