<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <div class="container">
    <div class="first-name">
      First Name<br/>
      <input type="text" name="firstName" />
    </div>
    <div class="last-name">
      Last Name<br/>
      <input type="text" name="lastName" />
    </div>
    <div class="age">
      Age<br/>
      <input type="number" name="age" />
    </div>
    <div class="address">
      Address<br/>
      <input type="text" name="address" />
    </div>
    <div class="interests">
      Interests<br/>
      <textarea name="interests"></textarea>
    </div>
  </div>
</body>
</html>
