<div class="containter">
  <div class="search-area">
    <input class="form-rounded search-box" type="text" #searchString /><br />
    <button class="form-rounded" (click)="searchPeople(searchString.value)">Search</button>
    NOTE: This is a case insensitive search.
  </div>

  <p *ngIf="isSearching"><img src="assets/loading.gif"/></p>


  <div class="search-results" *ngIf="!isSearching">
    <div class="header-row" *ngIf="persons">
      <div class="name">Name</div>
      <div class="age">Age</div>
      <div class="address">Address</div>
      <div class="interest">Interests</div>
    </div>

    <div class="data-row" *ngFor="let person of persons">
      <div class="name">{{ person.combinedName }}</div>
      <div class="age">{{ person.age }}</div>
      <div class="address">{{ person.address }}</div>
      <div class="interest">{{ person.interests }}</div>
      <div class="image"><img src="assets/{{ person.image }}" onerror="this.onerror = null; this.src='assets/defaultImage.jpg';" /></div>
    </div>
  </div>
</div>
